@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto";
}
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  @apply bg-gradient-to-r from-blue-500 to-purple-500 h-1 transition-all duration-300 ease-in-out;
}